<%= form_for @announce, :html=>{:multipart=>true}, :html => { :class => "form-horizontal announce" } do |f| %>

    <% if @announce.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@announce.errors.count, "error") %> prohibited this announce from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @announce.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label'%>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control', :required=>true %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'form-control', :required=>true %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :type=>'number', :min=>0, :class => 'form-control' %>
    </div>

  </div>
    <div class="form-group">
      <%= f.label :category_ids,:text=>'Categorias' , :class => 'control-label' %>
      <div class="controls">
        <%= f.select_tag :category_ids, options_from_collection_for_select(@categories,'id','name',@announce.categories.collect { |c| c.id }), :class => 'form-control', :multiple=>true, :required=>true, :size=>6 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image1, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image1%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image2, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image2%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image3, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image3%>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  announces_path, :class => 'btn btn-default' %>
    </div>

<% end %>
